a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#menu_1bf3c30c a { text-decoration: none; }
#menu_1bf3c30c_pane { background-color: #FFFFFF; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1bf3c30c_hr { background-color: #646464; height: 1px; border: none; }
#menu_1bf3c30c_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_1bf3c30c_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1bf3c30c_entry:hover span { color:#FFFFFF !important; }
		.menu_1bf3c30c_mainMenuEntry { text-align: center; }
		.menu_1bf3c30c_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_1bf3c30c_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_1bf3c30c .mobileEntry { display: none; } 
		#menu_1bf3c30c .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_1bf3c30c .mobileEntry { display: block; } 
			#menu_1bf3c30c .normalEntry { display: none; } 
		}
body { background-color:#D0C3B0; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_182db28 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_182db28_padding { margin: 10px; display: block;  }
#container_1d3ef07d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background:none;  }
#container_1d3ef07d_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_3ddb247e { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:57px; background:none;  }
#container_3ddb247e_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:40pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#565656; font-weight:bold;  }
#container_3ba4124b { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_3ba4124b_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_1bf3c30c { vertical-align: bottom; position:relative; display: inline-block; width:247px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:47px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:45px;  }
.textstyle5 { font-size:28pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:69px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle6 { font-size:14pt; font-family:Tahoma, Geneva, sans-serif; color:#565656;  white-space: nowrap; }
.menustyle3 { position:absolute; width:69px; height:38px; left:79px;  }
.menustyle4 { position:absolute; width:83px; height:38px; left:148px;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle8 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_2ee95d02 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:133px; background-color:#FFFFFF; background-image: url(rc_images/coffeecup.jpg); background-position:bottom center; background-size:cover;  }
#container_2ee95d02_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:32pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#575757; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.784314);  }
.textstyle10 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#565656; line-height: 1.5;  }
.textstyle11 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#565656;  }
.textstyle12 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_101b899d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#512B04;  }
#container_101b899d_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 640px)
{
		#container_3ddb247e * span { font-size:15pt;  }
		#menu_1bf3c30c { width:150px;  }
}
