a { color:#7E7EBE; } 
a:visited { color:#7E7EBE; } 
a:active { color:#7E7EBE; } 
a:hover { color:#B2B3B4; } 
#menu_65bb95e9 a { text-decoration: none; }
#menu_65bb95e9_pane { background-color: #FFFFFF; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_65bb95e9_hr { background-color: #646464; height: 1px; border: none; }
#menu_65bb95e9_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_65bb95e9_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_65bb95e9_entry:hover span { color:#FFFFFF !important; }
		.menu_65bb95e9_mainMenuEntry { text-align: center; }
		.menu_65bb95e9_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_65bb95e9_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_65bb95e9 .mobileEntry { display: none; } 
		#menu_65bb95e9 .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_65bb95e9 .mobileEntry { display: block; } 
			#menu_65bb95e9 .normalEntry { display: none; } 
		}
#table_29fc6b91 th {  } 
#table_29fc6b91 td {  } 
body { background-color:#D0C3B0; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_24a694d0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_24a694d0_padding { margin: 10px; display: block;  }
#container_19d28473 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_19d28473_padding { margin: 10px; display: block;  }
#container_a846825 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background:none;  }
#container_a846825_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_3e86ccdb { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:57px; background:none;  }
#container_3e86ccdb_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:40pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#565656; font-weight:bold;  }
#container_51330adb { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_51330adb_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_65bb95e9 { vertical-align: bottom; position:relative; display: inline-block; width:289px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:47px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:45px;  }
.textstyle5 { font-size:28pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:69px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle6 { font-size:14pt; font-family:Tahoma, Geneva, sans-serif; color:#565656;  white-space: nowrap; }
.menustyle3 { position:absolute; width:114px; height:38px; left:79px;  }
.menustyle4 { position:absolute; width:83px; height:38px; left:193px;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_70481903 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:294px; background-color:#FFFFFF; background-image: url(rc_images/coffeecup.jpg); background-position:bottom center; background-size:cover;  }
#container_70481903_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle9 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle10 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle11 { font-size:32pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#565656;  }
#button_65d4ce54 { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:259px; height:69px; background-color:#6654C0; border: 4px solid #404040;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle12 { font-size:22pt; font-family:'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive; color:#000000;  }
#button_5aadfb99 { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:259px; height:69px; background-color:#6654C0; border: 4px solid #404040;  }
#button_5ff77f86 { box-sizing: border-box; vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:259px; height:69px; background-color:#6654C0; border: 4px solid #404040;  }
#button_53ab4ba8 { vertical-align: bottom; border-radius: 6px; position:relative; display: inline-block; width:240px; height:70px; background-color:#B57D45; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
.textstyle13 { font-size:20pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle14 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#565656; line-height: 1.5;  }
.textstyle15 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_7b52e3f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#512B04;  }
#container_7b52e3f5_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
.textstyle17 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#C9C9C9; line-height: 1.5;  }
.textstyle18 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#C9C9C9; line-height: 1.5;  }
.textstyle19 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF; line-height: 1.5;  }
#container_44d5ed97 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_44d5ed97_padding { margin: 10px 10px 10px 20px;display: block;  }
.textstyle20 { font-size:14pt; font-family:Baskerville, 'Baskerville Old Face', Garamond, 'Times New Roman', serif; color:#FFFFFF; font-weight:bold;  }
.textstyle21 { font-size:12pt; font-family:Baskerville, 'Baskerville Old Face', Garamond, 'Times New Roman', serif; color:#FFFFFF;  }
#table_29fc6b91 { vertical-align: bottom; position:relative; display: inline-table; width:94%; height:288px; background:none; table-layout: fixed;  }
#cell_4f2cba3f {  }
#cell_397e434b {  }
#cell_4bd4b1e1 {  }
#cell_47d39fd6 {  }
#cell_2b1b164e {  }
#cell_7b9e1d04 {  }
#cell_4647d581 {  }
#cell_4f91f0c9 {  }
#cell_7b662bd8 {  }
#cell_35a78225 {  }
#cell_47758b79 {  }
#cell_1b0e3570 {  }
#cell_5f5ee9dd {  }
#cell_47969906 {  }
#cell_45bf0335 {  }
#cell_776f9fb7 {  }
.textstyle22 { font-size:12pt; font-family:Baskerville, 'Baskerville Old Face', Garamond, 'Times New Roman', serif; color:#FFFFFF; font-style:italic;  }
.textstyle23 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF;  }
#container_186163be { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_186163be_padding { margin: 10px; display: block;  }
.textstyle24 { font-size:16pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  }
#container_3723208e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3723208e_padding { margin: 10px; display: block;  }
#container_3bd54410 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_3bd54410_padding { margin: 10px; display: block;  }
.textstyle25 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  }
#container_7a4530c7 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_7a4530c7_padding { margin: 10px; display: block;  }
#container_3ccd43ed { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_3ccd43ed_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 800px)
{
		#container_44d5ed97 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_3e86ccdb * span { font-size:15pt;  }
		#menu_65bb95e9 { width:150px;  }
}
@media only screen and (max-width: 450px)
{
		#container_3bd54410 { width:100%;  }
		#container_7a4530c7 { width:100%;  }
		#container_3ccd43ed { width:100%;  }
}
